{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login your account</title>
    <link rel="stylesheet" href="{% static 'styles/loginstyle.css' %}">
  </head>
  <body>
    <div class="login-wrap">
      <h2>Login</h2>

      <form action="login" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username" />
        <input type="password" placeholder="Password" name="password" />
        <button>Login</button>
        <!-- <a href="#">
          <p>Don't have an account? Register</p>
        </a> -->
        {% for message in messages %}
        <h6 style="color:Tomato;"> {{message}} </h6>
     {% endfor %}   
    </form>
    </div>
  </body>
</html>
