{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/formStyle.css' %}">
</head>
<body>
    
    <form action="register" method="post" align="center">
        <div class="container">
        {% csrf_token %}
        <input type="text" name="firstName" placeholder="firstName" /><br>
        <input type="text" name="lastName" placeholder="lastName" /><br>
        <input type="text" name="username" placeholder="Username" /><br>
        <input type="email" name="Email" placeholder="Email" /><br>
        <input type="password" name="pass1" placeholder="Password" /><br>
        <input type="password" name="pass2" placeholder="Confirm Password"/><br>
        <input type="submit" class="registerbtn">

        {% for message in messages %}
           <h4 style="color:rgb(5, 30, 112); font-family:monospace " ;>{{message}}</h4>
        {% endfor %}   
    </div>
    </form>

</body>
</html>